.simon
  .controls
    button#start Start
    button#reset Reset
  .buttons
    button.green.button(data-color='green')
    button.red.button(data-color='red')
    button.yellow.button(data-color='yellow')
    button.blue.button(data-color='blue')
