$green: hsl(120, 60%, 20%)
$red: hsl(0, 60%, 20%)
$yellow: hsl(60, 60%, 20%)
$blue: hsl(240, 60%, 20%)

body
  margin: 0
  background-color: #222

.simon
  margin: 64px auto
  width: 512px
  height: 512px
  border-radius: 50%
  background-color: #444

.controls
  position: absolute
  top: 50%
  left: 50%
  transform: translateX(-50%)
  z-index: 1

.buttons
  position: relative
  display: flex
  flex-wrap: wrap

.button
  border: 0
  margin: 32px
  width: 192px
  height: 192px

path.green
  fill: $green
path.red
  fill: $red
path.yellow
  fill: $yellow
path.blue
  fill: $blue
path.green-light
  fill: lighten($green, 50%)
path.red-light
  fill: lighten($red, 50%)
path.yellow-light
  fill: lighten($yellow, 50%)
path.blue-light
  fill: lighten($blue, 50%)

svg.red
  transform: rotate(90deg)
svg.yellow
  transform: rotate(270deg)
svg.blue
  transform: rotate(180deg)
