$green: hsl(120, 50%, 20%)
$red: hsl(0, 50%, 20%)
$yellow: hsl(60, 50%, 20%)
$blue: hsl(240, 50%, 20%)

body
  margin: 0
  color: #333
  background-color: #444

.simon
  position: relative
  margin: 64px auto
  width: 512px
  height: 512px
  border-radius: 50%
  background-color: #333
  box-shadow: 3px 8px 15px rgba(black, .6), inset 2px 4px 6px rgba(white, .2)

.controls
  position: absolute
  width: 232px
  height: 232px
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  z-index: 1
  border-radius: 50%
  background-color: #ddd
  button
    width: 32px
    height: 32px
    border-radius: 50%
    border: 5px solid #888

.game-label
  position: absolute
  top: 32px
  left: 116px
  font-size: 32px
  font-weight: bold
  transform: translateX(-50%)

#count
  position: absolute
  top: 88px
  left: 32px
  width: 2ch
  height: 1em
  padding: 8px
  border-radius: 8px
  font-family: monospace
  font-size: 16px
  background-color: #422
  color: #f22
  box-shadow: inset 0 0 5px rgba(black, 0.8)

#start
  position: absolute
  top: 96px
  left: 72px
  background-color: red

#strict
  position: absolute
  top: 96px
  left: 108px
  background-color: yellow

#power
  position: absolute
  top: 180px
  left: 92px
  box-sizing: border-box
  width: 48px
  height: 24px
  border-radius: 12px
  background-color: #666
  box-shadow: inset 0 0 5px rgba(black, 0.5)
  &::before
    content: " "
    position: absolute
    top: 0
    left: 0
    box-sizing: border-box
    width: 24px
    height: 24px
    border-radius: 50%
    background-color: white
    box-shadow: 0 1px 3px black

#power.on
  background-color: green
  &::before
    left: 24px

.buttons
  position: relative
  display: flex
  flex-wrap: wrap

.button
  border: 0
  margin: 12px
  width: 232px
  height: 232px

path.green
  fill: $green
path.red
  fill: $red
path.yellow
  fill: $yellow
path.blue
  fill: $blue
path.green-light
  fill: lighten($green, 40%)
path.red-light
  fill: lighten($red, 40%)
path.yellow-light
  fill: lighten($yellow, 40%)
path.blue-light
  fill: lighten($blue, 40%)

svg.red
  transform: rotate(90deg)
svg.yellow
  transform: rotate(270deg)
svg.blue
  transform: rotate(180deg)
